*{box-sizing: border-box;}

/* top-nav-header -> 131c29
link-text -> 596573
background -> f4f4f6
active-button -> ff8901
more-button -> 213349
radial-gradient -> 33597e - 0e1620
nov 21 -> be8442
nov 09 -> bc6142
nov 17 -> bd425e 
*/


.clear{
    clear:both;
}

/*header*/

.header{
   width:100%;
   height:100%;
   /*background:#131c29;*/
}

.button{
    text-transform: uppercase;
    border-radius: 8px;
    padding:5px 10px;
    background:#213349;
    color:white;
}

.top-nav-list{
    margin-left:800px;
    display:flex;
    justify-content: space-between;
    list-style: none;
    float:top;
}

.main-nav-list{
    margin-left:800px;
    /*border:2px solid brown;*/
    display:flex;
    justify-content: space-between;
    list-style:none;
}

.main-nav-item{
    text-transform: uppercase;
    border-radius: 8px;
    padding:10px 18px;
    background:#131c26;
    color:white;
}

/*end header*/

/*main*/
.main{
    width:90%;
    height:60%;
    /*border:2px solid purple;*/
    padding-right:-40%;
    margin-left:5%;
}

.hero-section{
    /*background:lightcoral;*/
    margin:20%;
    margin-top:2%;
    padding:0%;
    float:top;
    background:#f4f4f6;
}

.content-section{
    /*background: cadetblue;*/
    width:100%;
    display:flex;
    justify-content: space-evenly;
    /*margin-bottom:10%;*/
    background:#f4f4f6;    
}

/*end main*/


/*footer*/
.footer{
    margin:-20px;
    padding:-200px;
    width:-100px;
}

/*.main-footer {
    position: relative;
}*/

.footer-div {
    position:absolute;
    width: calc(100% / 3);
}

.opportunites {
    left: calc(100% / 3)
}

.news {
    right: 0;
}

.service-list-item{
    padding-bottom: 2%;
    /*border:2px solid black;*/
    height:20%;
}

.opp-list-item{
    /*border:2px solid saddlebrown;*/
    padding-left:0%;
}

/*.news-list-item{
    border:2px solid gold;
}*/

.news-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-div{
    text-transform: uppercase;
    /*background-color: teal;*/
    padding:9px 28px;
    border-radius: 8px;
    }
    
    .news-list-item:nth-child(1) .date-div {
        background-color:#be8442;
    }
    .news-list-item:nth-child(2) .date-div {
        background-color:#bc6142;
    }
    .news-list-item:nth-child(3) .date-div {
        background-color:#bd425e;
    }

/*end footer*/